body{
	margin: 0px;

}
@font-face{
	font-family: 'bestFont';
	src: url('../fonts/JosefinSans-Bold.ttf');
	font-style:normal;
}

@font-face{
	font-family: 'regularFont';
	src: url('../fonts/Montserrat-Regular.otf');
	font-style:normal;
}
.parallax{
	/* The image used */
  background-image: url('../images/me_eyes.jpg');

  /* Full height */
  height: 1025px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome{
	text-align: center;
	line-height: 1025px;
	color: white;
	font-size: 80px;
	font-family: 'bestFont';
}

h2{
	font-family: 'bestFont';
	font-size: 50px;
}

.highlight{
	color: #32ce32;
}


.box{
	padding: 10px;
	background-color: black;
}

.about{
	line-height: 2.4;
	font-family: regularFont;
	width: 40%;
	margin-left: 10%;
	font-size: 20px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
}
/*-----------------------*/
/*NAVBAR CSS*/
/*-----------------------*/
.navbar li{
  display: inline-block;
  position: relative;
  padding-left: 30px;
  padding-right: 30px; 
}


#red{
  color: #ff3b3b;
}

#blue{
  color: #3b93ff;
}

#white{
  color: #e8e8e8;
}

.tablewrapper{
  display: table;
  width: 100%;
}

.table1{
  float: left;
  width: 15%;
}

.table{
  float: left;
  width: 65%;

}

.main{
  text-align: center;
}

.table2{
  float: left;
  width: 15%;
}
.table1 .navbar{
  padding-right: 50px;
}
.navbar li a{
  text-decoration: none;
  color: #656565;
  transition: color 0.3s ease;
}

.navbar li .special:hover{
  color: #32ce32;
}

#disappear{
  position: fixed;
  transition: top 0.3s;
  width: 100%;
}

.navcontainer{
  padding-top: 10px;
  border: none;
  margin-bottom: 0px;
  font-family: 'bestFont';
  font-size: 23px;
  background-color: #050505;
}

.account{
  float: right;
  padding-right: 10px;
  font-size: 15px;
}

.content{
  margin-top: 10px;
  display: none;
  z-index: 1;
  background-color: #050505;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.content a{
  display: block;
  padding: 15px 35px;
}

.show{
  display: block;
}

.red{
	background-color: black;
}

/*-----------------------*/
/*INTERESTS CSS*/
/*-----------------------*/
.interests{
  padding-top: 75px;
}

.topic{
  margin: 0 auto;
  display: table;
  clear: both;
  width: 75%;
  border-width: 2px;
  border-style: solid;
  border-color: #050505;
  border-radius: 10px;
  margin-bottom: 50px;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

.topic:hover{
  background-color: #050505;
}

.topic:hover .descrip{
   color: #e8e8e8;
}

.topic:hover .heading{
  color: #32ce32;
}
 
.pic{
  float: left;
  width: 40%;
  padding: 10px;
}

.explanation{
  float: left;
  width: 40%;
  padding: 10px;
}

.explanation h2{
  font-size: 30px;
}

.descrip{
  font-family: regularFont;
}

.header{
  margin-left: 10%;
}

/*-----------------------*/
/*QUIZ CSS*/
/*-----------------------*/
.quiz{
  padding-top: 75px;
}

.question{
  width: 60%;
  padding: auto;
  margin: 0 auto;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: #050505;
  border-radius: 10px;
  margin-bottom: 50px;
}

.btnsubmit{
  margin-bottom: 50px;
}

.question h3{
  font-family: 'bestFont';
  font-size: 25px;
}

input[type=submit]{
  background-color: #050505;
  border-width: 2px;
  border-style: solid;
  border-color: #050505;
  color: #32ce32;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  font-family: regularFont;
  cursor: pointer;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

input[type=submit]:hover{
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: #050505;
  color:  #050505;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: regularFont;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 40%;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #32ce32;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
